name: free-programming-books-parse

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: echo asdf
    - run: npm install -g https://github.com/LeoOuyang24/markdown-parser
    - run: fpb-parse
    - run: node index.js
