name: free-programming-books-parse

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: echo asdf
    - run: git clone https://github.com/Senior-Design-2021-Ebook-Team/markdown-parser
    - run: ls
    - run: cd ./markdown-parser
    - run: cd ASDF
    - run: ls
    - run: npm start
